.header__inner {
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
	position: fixed;
	left: 0;
	top: 0;
	background: #fff;
	z-index: 1000000;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	margin: 0 auto;
	text-align: center;
}

.header__menu {
	text-align: center;
	margin-top: 20px;
}

.header__menu li {
	display: inline;
}

.header__menu li a {
	font-weight: 500;
	transition: all 0.2s ease;
	padding: 0 40px;
}

.header__menu li a:hover,
.header__menu li a.active {
	text-decoration: underline;
	text-underline-position : under;
}

/* 반응형일때 사이드바로 만들기 */
.header__ham {
	position: absolute;
	right: 16px;
	top: 10px;
	z-index: 1000;
	width: 50px;
	height: 50px;
	display: none;
	cursor: pointer;
}

.header__ham span {
	display: block;
	background: black;
	width: 30px;
	height: 2px;
	border-radius: 3px;
	margin-left: 17px;
	margin-top: 7px;
	transition: 0.25s margin 0.25s, 0.25s transform, 0.25s opacity 0.4s, background-color 0.5s;
}

.header__ham span:nth-child(1) {
	margin-top: 13px;
}

.header__ham span:nth-child(2) {
	opacity: 1;
}
.header__ham.active span{
	background-color: #969696;
}
.header__ham.active:hover span {
	transition: 0.25s margin, 0.25s transform 0.25s, background-color 0.5s;
	background-color: #fff;
}
.header__ham.active:not(:hover) span{
	transition: all 1.3s;
}
.header__ham.active span:nth-child(1) {
	margin-top: 25px;
	margin-bottom: -9px;
	transform: rotate(45deg);
}

.header__ham.active span:nth-child(2) {
	transform: rotate(45deg);
	opacity: 0;
}

.header__ham.active span:nth-child(3) {
	margin-top: -2px;
	transform: rotate(-45deg);

}

@media (max-width: 1280px) {
	.header__logo {
		width: 50%;
	}

	.header__menu {
		position: fixed;
		right: 0;
		top: -105vh;
		background: rgba(0,0,0, 0.9);
		width: 100%;
		height: 100vh;
		padding: 10%;
		box-sizing: border-box;
		text-align: center;
		transition: all 0.4s ease-in;
		align-items: center;
		margin: 0;
		z-index: 999;
	}
	.header__menu ul li {
		display: block;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	.header__menu ul li a {
		white-space: nowrap;
		font-size: 3vh;
		color: #ccc;
		opacity: 0	;
	}

	.header__menu.overlay {
		top: 0;
	}
	.header__menu.overlay ul li:first-child a{
		opacity: 1;
		transition: opacity 1s 0.5s;
	}
	.header__menu.overlay ul li:nth-child(2) a{
		opacity: 1;
		transition: opacity 1s 1s;
	}
	.header__menu.overlay ul li:nth-child(3) a{
		opacity: 1;
		transition: opacity 1s 1.5s;
	}
	.header__menu.overlay ul li:nth-child(4) a{
		opacity: 1;
		transition: opacity 1s 2s;
	}
	.header__menu.overlay ul li:nth-child(5) a{
		opacity: 1;
		transition: opacity 1s 2.5s;
	}
	
	.header__ham {
		display: block;
	}
}
@media (max-width: 480px){
	.header__logo {
		width: 60%;
		font-size: 22px;
	}
	.header__menu li a {
		padding: 0;
	}
}


/* @media (max-width: 1300px) {
	.header__logo {
		width: 50%;
	}

	.header__menu {
		position: fixed;
		right: -100%;
		top: 69px;
		background: #fff;
		width: 40%;
		height: 100vh;
		padding: 20px;
		text-align: right;
		transition: all 0.4s ease-in;
		justify-content: end;
	}

	.header__menu ul {
		width: 100%;
	}

	.header__menu ul li {
		display: block;
		margin: 20px;
		margin-bottom: 35px;
	}

	.header__menu ul li a {
		white-space: nowrap;
		font-size: 16px;
	}

	.header__menu.overlay {
		right: 0;
	}

	.header__ham {
		display: block;
	}
}

@media (max-width: 600px) {
	.header__logo {
		font-size: 20px;
	}
} */